<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <style>

        .page {
            text-align: center;
        }

        table.gridtable {
            margin-top: 30px;
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

</style>
</head>
<body>
    <div class="table-a">
        <table class="gridtable" align="center" border="1">
            <tr>
                <th class="hi_1">最大id</th>
                <th class="hi_2">目前循环次数</th>
                <th class="hi_4">本条记录添加时间</th>
                <th class="hi_3">查询sql循环次数</th>
                <th class="hi_5">一共对比数据量</th>
            </tr>
            <tr class="lesson_length">
                <td class="hi_1 wi_1">
                    <p>{{ data_info.cycle_max_id }}</p>
                </td>
                <td class="hi_2 wi_2">
                    <p>{{ data_info.main_cycle_num }}</p>
                </td>

                <td class="hi_4 wi_4">
                    <p>{{ data_info.add_time }}</p>

                </td>
                <td class="hi_3 wi_3">
                    <p>{{ data_info.sql_cycle_num }}</p>
                </td>
                <td class="table_operate">
                    <p>{{ compare_num }}</p>
                </td>
            </tr>
        </table>
    <div>
                <table class="gridtable" align="center" border="1">
                <tr>
                    <th class="hi_1">id</th>
                    <th class="hi_2">手机号</th>
                    <th class="hi_3">计费代码</th>
                    <th class="hi_4">ecid</th>
                    <th class="hi_5">科目</th>
                    <th class="hi_6">移动开通状态</th>
                    <th class="hi_7">同步课堂开通状态</th>
                </tr>
                {% for item in data %}
                <tr>
                    <td class="hi_1 wi_1">
                        {{ item.id }}
                    </td>
                    <td class="hi_2 wi_2">
                        <p>{{item.phone_num}}</p>
                    </td>
                    <td class="hi_3 wi_3">
                        <p>{{ item.code }}</p>
                    </td>
                    <td class="hi_4 wi_4">
                        <p>{{ item.ecid }}</p>
                    </td>
                    <td class="hi_5 wi_5">
                        {% if item.subject_id == 2 %}
                            <p>数学</p>
                        {% elif item.subject_id == 3 %}
                            <p>物理</p>
                        {% elif item.subject_id == 4 %}
                            <p>化学</p>
                        {% elif item.subject_id == 5 %}
                            <p>语文</p>
                        {% elif item.subject_id == 9 %}
                            <p>英语</p>
                        {% endif %}

                    </td>
                    <td class="hi_6 wi_6">
                        {% if item.after_status  == 1%}
                            <p>取消或退订</p>
                        {% endif %}

                    </td>
                    <td class="hi_7 wi_7">
                         <p>开通</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
     <div class="page" id="page">
        {% if data %}
        {% if data.has_previous %}
        <a href="javascript:;" page="{{ data.previous_page_number}}" class="prev">上一页</a>
        {% endif %}
        <span>
            {% for p in page_range %}
            {% if p == data.number %}
            <span class="current" page="{{p}}" >{{ p }}</span>
            {% else %}
            <a href="/info?page={{p}}" page="{{ p }}" title="第{{ p }}页">{{ p }}</a>
            {% endif %}
            {% endfor %}
        </span>
        {% if data.has_next%}
        <a href="javascript:;" page="{{ data.next_page_number}}" class="next"> 下一页</a>
        {% endif %}
        {% endif %}
    </div>
</body>
</html>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
    var page = "{{page}}";
    var allpage = "{{allpage}}";
        //分页点击
    $('.prev').on('click',function(){
        page--;
        if(page<=1){
            page=1;
        }
        location.href="/info?page="+page;
    })
    $('.next').on('click',function(){
        page++;
        if(page>=allpage){
            page = allpage;
        }
        location.href="/info?page="+page;
    })
</script>




